<h1>Home</h1>

<div>
<button className="View Dogs" onClick="window.location.href='/dogs'">Views Dogs For Adoption</button>
</div>

<div>
<button className="Sign up user" onClick="window.location.href='/signup'">Sign Up</button>
</div>

<div>
<button className="Login User" onClick="window.location.href='/login'">Login</button>
</div>

<div>
<button className="My Dogs" onClick="window.location.href='/dogs/myDogs'">My Dogs</button>
</div>

<div>
<button className="Adopted Dogs" onClick="window.location.href='/dogs/dogsIHaveAdopted'">Dogs I Adopted</button>
</div>

<div>

</div>