<h1>My Dogs</h1>


<div>
<button className="Registered Dogs" onClick="window.location.href='/dogs/myRegisteredDogs'">My Registered Dogs</button>
</div>

<div>
<button className="Adopted Dogs" onClick="window.location.href='/dogs/dogsIHaveAdopted'">Dogs I Adopted</button>
</div>