<h1>My Dogs That Have Been Adopted</h1>

<% if (dogs.length === 0) { %>
  <p>No dogs have been adopted yet.</p>
<% } else { %>
  <ul>
    <% dogs.forEach(dog => { %>
      <li style="margin-bottom: 20px;">
        <strong>Name:</strong> <%= dog.name %><br>
        <strong>Adopted By:</strong> <%= dog.adoptedBy.username %><br>
        <strong>Thank You Message:</strong> <%= dog.thankYouMessage %>
      </li>
    <% }) %>
  </ul>
<% } %>
